[2016-03-13 09:44] rubenv opened #1 "Install instructions use plain http"
On the main page:

[code]

I know this looks pretty, but it's a ridiculously bad idea to advise people to pipe the output of a webpage to bash, especially when served over plain HTTP.

Please, for the safety of your users, at least use HTTPS.

[2016-03-13 20:41] albertoarias commented on #1
@rubenv Thanks for the feedback.

I updated the README and our page to add https.

[2016-03-13 20:42] #1 closed

[2016-03-14 14:20] onyxet opened #2 "failed to start elastickube"
Hi! When i try start elastickube I have some errors in logs like this:

My conf of elastickube-server.yaml is:

as I understand it , this code tries to load app files, but I have them when creating pod via mounting. Where is my mistake?

[2016-03-14 16:03] albertoarias commented on #2
Hi,

I have seen this error when there is a git repo already in the folder where the charts container is trying to clone. Can you log-in into the container and check the contents of /var/elastickube/charts? Is anything in there?

Another reason might be that the charts service cannot write into the local folder. This first release of elastickube rc is pre-configured to use a local folder on the no

[2016-03-15 08:59] onyxet commented on #2
In /var/elastickube/charts I have this files:
__init__.py  __init__.pyc  entrypoint.sh  server.py  sync
Have elastickube solution for deployment in closed clusters? Where I don`t need clone repo from internet. I have own registry and kubernetes cluster in private network. What the best way for deploy elastickube? I tryed run it on test cluster with this curl -s https://elastickube.com | bash but h

[2016-03-15 16:04] albertoarias commented on #2
The recommended way to deploy ElasticKube is through the url. If you want to customize the deployment you can download the script using `curl -s elastickube.com -o install.sh` and modify the resource definitions as desired. (I will push the script today in the repo so anybody can modify)

Regarding the load balancer. We assume your kubernetes is capable of deploying a loadbalancer service. If this

[2016-03-16 11:12] onyxet commented on #2
Thanks! Solved issue with ValueError: I/O operation on closed file but now I have this in logs :

in dir /var/elastickube/charts:

It`s for helm?
where i can see git command for cloning repo in charts?
rest of containers working properly without errors in logs.

[2016-03-16 14:33] srikanthpeetha opened #3 "Installation: Setting up elastickube-server [ FAILED ]"
Hi
I  tried to install elastickube using
 curl -s https://elastickube.com | bash
But the installation get struck at "elastickube-server"

  _____ _           _   _      _  __     _
 | ____| | __ _ ___| |_(_) ___| |/ /   _| |__   ___
 |  _| | |/ _` / __| __| |/ __| ' / | | | '_ \ / _ \
 | |___| | (_| \__ \ |_| | (__| . \ |_| | |_) |  __/
 |_____|_|\__,_|___/\__|_|\___|_|\_\__,_|_.__/ \___| by Elast

[2016-03-16 16:31] albertoarias commented on #3
Hi,

Yes the port conflict is the problem. If your cluster cannot allocate unique IPs per LoadBalancer you need to change the port to avoid conflicts. I will add some parameters to the script to make this easier, but in the meantime you can download the script and modify the port on the elasticbox-server service.

`curl -s elastickube.com -o install.sh`

The service yaml definition is embedded int

[2016-03-16 16:33] onyxet commented on #3
hi! Try run next command

this fail because some process already bind to 80 port. this command shows you what process this

[2016-03-16 16:34] albertoarias commented on #2
I believe the problem is that your container does not have internet access and is failing to clone the repo.

We use GitPython to interact with the git repo. You can see the code here:
https://github.com/ElasticBox/elastickube/blob/master/src/charts/sync/repo.py

[2016-03-16 16:40] onyxet commented on #2
Thanks for feedback. I`ll try reproduce this on another cluster with public access and let you know

[2016-03-16 16:43] albertoarias commented on #2
That would be great. If we pin point the issue I will add better error messages to the install script.

[2016-03-16 19:43] jcderr opened #6 "Unable to create first user"
I've deployed elastickube into my cluster and can access the initial signup page. When I fill in the form, nothing happens. My chrome console shows the following:

[code]

[2016-03-16 19:47] jcderr commented on #6
Changing my AWS ELB to use TCP instead of HTTP resulted in it getting further, but still failing.

[code]

[2016-03-16 21:58] arnaud-elasticbox commented on #6
We think it is a connection issue between the ui and the backend container "elastickube-api". Can you send us the log of the "elastickube-api" container?

You can get the log using the kubectl logs command.

[2016-03-17 06:56] srikanthpeetha commented on #3
@albertoarias I tried to run the script changing the port but it showed up the same error.
It worked when I manually released the port.
But now I got this

`Waiting for LB to be ready              [ FAILED ]`

So I tried running this command
`kubectl --namespace=kube-system describe svc elastickube-server`
and I got this

Name:			elastickube-server
Namespace:		kube-system
Labels:			name=elastickub

[2016-03-17 15:39] albertoarias commented on #3
Which LoadBalancer service are you using?

I will patch the setup script as currently we are looking for the string 'LoadBalancer Ingress:' which is not part of your output.

Best

[2016-03-17 15:43] albertoarias commented on #6
@jcderr I think I have seen this error when the kube-dns service is not configured. Which means that the api and charts service cannot connect the mongo service.

[2016-03-17 21:24] bh016088 opened #8 "Any way to deploy to on-premise?"
I run an on-premise Kubernetes cluster and my developers would love the ability to use ElasticKube.  I have tried creating the elastickube-server service with NodePort instead of LoadBalancer and can get to the first login page but then I just receive "Forbidden" over and over again.

Any tips or suggestions?

[2016-03-18 00:37] albertoarias commented on #8
Every Kubernetes environment is a little bit different. Can you provide some details about the environment?

Also can you clarify where are you getting the Forbidden message?

[2016-03-18 03:47] jcderr commented on #6
Looks like there's a tornado exception in here.

Cluster DNS _is_ working. I use it pretty extensively in my setup.

[elastickube_error.log.zip](https://github.com/ElasticBox/elastickube/files/179044/elastickube_error.log.zip)

[2016-03-18 16:53] arnaud-elasticbox commented on #6
I managed to reproduce. We are reading a token from this location /var/run/secrets/kubernetes.io/serviceaccount/token to access the Kubernetes API and in your case, we are failing to authenticate using this token. Do you have any idea why this token is invalid?

[2016-03-18 17:06] albertoarias commented on #8
@bh016088 Is the forbidden message coming from the logs of the container or from the UI?
Check this out:
https://github.com/ElasticBox/elastickube/issues/6

[2016-03-18 18:32] bh016088 commented on #8
The forbidden message is coming from the UI.  My cluster dns is working as expected.  I looked at that

My kubernetes environment is running on Centos 7, Docker 1.9.1, Kube 1.1.4.

I also have a "tornado" error as in #6

http://pastebin.com/raw/2a0MqX5t

[2016-03-21 21:04] jcderr commented on #6
I'm storing all of my keys, etc, in `/etc/kubernetes/ssl` ... can we make this variable?

[2016-03-22 03:00] oO-Zam opened #9 "Help setting up Google Auth"
Some basic documentation would be great. is this SASL/SAML? oAuth? some API Key thing? help.

[2016-03-22 03:36] albertoarias commented on #9
Is on the top of our list to get some documentation out.

Currently there is only support for google apps authentication. For that you need to create your own set of OpenID credentials on the google developer console:

https://developers.google.com/identity/protocols/OpenIDConnect#getcredentials

Use those credentials on the Admin page and your good to go.

[2016-03-22 05:25] arnaud-elasticbox commented on #6
Yes, it makes total sense. Thanks for the update, I will send a pull request.

[2016-03-23 14:08] ShadySQL opened #11 "CoreOS Install"
I would love to install this on CoreOS. All of my kubernetes clusters are on azure and the project uses CoreOS as its oficial distro up on Azure.

[2016-03-23 16:05] warden commented on #2
```curl -s elastickube.com -o install.sh``` returns Moved Permanently.
```curl -L -s elastickube.com -o install.sh``` returns HTML output...

[2016-03-23 16:11] onyxet commented on #2
@albertoarias I tried run elastickube on node with full access to internet and had same issue with "connection refused". In container nginx I saw next logs:

Have you any ideas? thanks for feedback

[2016-03-23 16:28] onyxet commented on #2
And when I try start api in container with
/bin/bash /opt/elastickube/api/entrypoint.sh
I have this
Initializing
.........................
I think trouble with API. Where there may be a problem?

[2016-03-23 16:29] onyxet commented on #11
Have you any problems with installation?

[2016-03-23 17:23] osanjuan commented on #11
Hi @ShadySQL we are gonna give it a try.

[2016-03-23 21:08] albertoarias commented on #2
@warden I just double checked and the output should be an script. Are you using a proxy server by any chance? We use the user-agent to detect the curl client so maybe that is the issue. You can access the install script directly from here:

https://raw.githubusercontent.com/ElasticBox/elastickube/master/build/deploy.sh

[2016-03-23 21:11] albertoarias commented on #2
@onyxet The initializing message happens when trying to connect to mongo for the first time. If your container cannot connect is because the following reasons:
a) Mongo is not running
b) The service is not created
c) The pod was created before the mongo service was created
d) The mongo service was recreated after the elastickube-server was created

Can you try logging into the container and see if

[2016-03-23 21:12] albertoarias commented on #2
@onyxet Can you also send me gist with the replication controller yaml that you used?

[2016-03-23 21:12] jcderr commented on #6
I misinterpreted this as a path on the host filesystem. That file is available in my container, but looking at my kubeapiserver logs, it appears this certificate may be malformed. I'll take a look at that, as well.

[2016-03-23 21:13] albertoarias commented on #11
@ShadySQL did you try executing the install command from the command console?

curl -s https://elastickube.com | bash

[2016-03-23 21:21] ShadySQL commented on #11
Yes from CoreOS but it failed completely. Failed also with sudo access. Does it work for you guys?

Sent from my iPhone

[2016-03-26 00:40] albertoarias commented on #11
@ShadySQL I pushed an update that should help with the installation. If you already tried to install it before make sure the old replication controllers are deleted first:

`kubectl --namespace=kube-system delete rc elastickube-server`
`kubectl --namespace=kube-system delete rc elastickube-mongo`

Then execute the following command:

`curl -s https://elastickube.com | bash -s -- -u http://kube-00:

[2016-03-26 00:41] albertoarias commented on #3
@srikanthpeetha I already committed a fix, please reopen it if does not fix the issue.

[2016-03-26 00:41] #3 closed

[2016-03-26 00:42] albertoarias commented on #6
@jcderr I just pushed an update that allows you to use the unsecure port (like kube-dns typically does)

Can you try redeploying?

[2016-03-26 00:43] albertoarias commented on #8
@bh016088 I fixed a couple of things that I think might help with your deployment. Check this out:
https://github.com/ElasticBox/elastickube/issues/11

[2016-03-26 00:44] albertoarias commented on #9
@oO-Zam Did you manage to make it work?

[2016-03-26 17:03] ShadySQL commented on #11
Hi Alberto,
This time the install at least was somewhat successful. However the install still fails. See the attached pic.
![screen shot 2016-03-26 at 7 02 22 pm](https://cloud.githubusercontent.com/assets/7299059/14061298/72b4ec9a-f385-11e5-9a7d-9cbb3af38d7c.png)

[2016-03-26 17:13] ShadySQL commented on #11
ok after deleting the replication controllers a couple of times and trying to install a couple of times. It seems that the install is now successful with the command you provided Alberto. But at the end of the install it provides this URL: http://10.20.162.223

But then also it gives the error:
bash: line 39: KUBERNETES_MASTER_URL: //kubernetes: syntax error: operand expected (error token is "//ku

[2016-03-26 18:45] ShadySQL commented on #11
and after I run:
kubectl get pods
kubectl get rc

none are running. I dont think this works at all even do it says it did.

[2016-03-26 19:34] albertoarias commented on #11
@ShadySQL I removed the public address of your cluster from the comment. Anybody with access to the unsecured port can perform any operation on your cluster. I recommend that you block the 8080 port.

The resources of ElasticKube are under the kube-system namespace, you should be able to see them if you execute:

`kubectl --namespace=kube-system get rc`

The issue you saw seeing is a timeout that

[2016-03-26 19:56] ShadySQL commented on #11
thanks for that. you said you:
 I tested it by exposing the node that was running the replication controller instead of the kube-apiserver node and it was working.

Well how did you do that? I am not able to even access it by:

http://publicdns:8080/api/v1/proxy/namespaces/kube-system/services/elastickube-server/

All I get is a blank page always

[2016-03-27 17:24] albertoarias commented on #11
The project only works if it is running on the root path of the URL, this is due to some trickiness with the websocket URL.

@paulino-corujo @manolakis do you think we can make it work using relative urls?

http://<kuberenets_address>:8080/api/v1/proxy/namespaces/kube-system/services/elastickube-serve

[2016-03-27 17:32] albertoarias commented on #11
@ShadySQL During my test what I changed this file to expose elastickube instead of the guestbook
https://github.com/albertoarias/kubernetes/blob/master/docs/getting-started-guides/coreos/azure/expose_guestbook_app_port.sh

I think this script need to be rewritten to create an additional VIPs on the LoadBalancer so more than app can be exposed.

[2016-03-28 21:01] bh016088 commented on #8
Now, when signing up for the admin user I get the following on the UI:

Checked the apiserver container and got the following:

[2016-03-28 21:10] bh016088 commented on #8
Upon subsequent attempts at going to the dashboard I am prompted with a login.  When I enter the credentials of the admin user I get:

[2016-03-28 21:18] bh016088 commented on #8
Just tested redeploying with the following command:
`curl -s https://elastickube.com | bash -s -- -u http://<kube-apiserver>:8080`

And I got through!  I will poke around and close if fixed.

[2016-03-28 21:27] #8 closed

[2016-03-28 21:56] albertoarias commented on #8
@bh016088 Great!

I was about to send you a note that we made a commit that fixes some issues related to the install. We are also going to work in a diagnostics page, it should make it easier to figure out how to address this config issues.

Looking forward to your feedback. Also you can check out what is coming next here:
http://pt.slideshare.net/albertoariasmaestro/elastickube

[2016-03-28 22:00] albertoarias commented on #11
@ShadySQL We just pushed some changes to the code that makes it possible to access elastickube through the kube-apiserver proxy (relative urls)

Please redeploy the elastickube-sever rc by deleting and executing the curl elastickube.com again with the -u parameter

`kubectl --namespace=kube-system delete rc elastickube-server`
`curl -s https://elastickube.com | bash -s -- -u http://kube-00:8080`

[2016-03-28 22:03] albertoarias commented on #2
@onyxet @warden  Let me know if you need anything else, if not we should close the issue.

[2016-03-30 14:07] ShadySQL commented on #11
This seems to work but the problem is that it doesnt redirect me to the sign up page. Rather it directs me to the login page.
![screen shot 2016-03-30 at 5 06 19 pm](https://cloud.githubusercontent.com/assets/7299059/14144801/f076ef22-f699-11e5-9532-dba08c398cf9.png)

[2016-03-30 14:09] ShadySQL commented on #11
This is true also if I go to:

http://localhost:9000/api/v1/proxy/namespaces/kube-system/services/elastickube-server/signup

I get redirected to login:

http://localhost:9000/api/v1/proxy/namespaces/kube-system/services/elastickube-server/login

[2016-03-30 14:26] paulino-corujo commented on #11
@ShadySQL Seems that there is an admin user already in the system. Did you create it?

[2016-03-30 14:29] ShadySQL commented on #11
@paulino-corujo no I didnt. On the first go I tried to sign up and it gave me a metadata error. I refreshed the page and nothing. So I went back to kube-00 and deleted it by:

kubectl --namespace=kube-system delete rc elastickube-server
curl -s https://elastickube.com | bash -s -- -u http://kube-00:8080

And then created the SSH tunnel again. No success

[2016-03-30 17:13] albertoarias commented on #11
@ShadySQL We managed to repro it.

The problem is that unless you pass the `-u http://kube-00:8080` parameter to the install script as per above every time you invoke it, there is no way for elastickube to contact the kubernetes api. The solution is to recreate the replication controllers with the parameter:

`kubectl --namespace=kube-system delete rc elastickube-server`
`curl -s https://elasticku

[2016-03-30 17:18] ShadySQL commented on #11
I did that. I just ran the commands as above:

kubectl --namespace=kube-system delete rc elastickube-server
curl -s https://elastickube.com | bash -s -- -u http://kube-00:8080

and nothing. It gives me the login URL even though I specify the signup

[2016-03-30 17:20] ShadySQL commented on #11
I am try to redeploy a new Kubernetes cluster to see if that would help out better.

[2016-03-30 17:25] albertoarias commented on #11
@ShadySQL The reason is sending you to the signup is because the user was created even though the connection to kubernetes cannot be done. The first time you created the user it gave you an error but it actually created it, so now it asking you to login. I created my test cluster using the scripts from the kuberenetes repo, are you using the same scripts?

If it does not work can you send me the o

[2016-03-30 17:29] ShadySQL commented on #11
I' am redeploying a kubernetes cluster. I follow this guide religiously:
http://kubernetes.io/docs/getting-started-guides/coreos/azure/

[2016-03-30 17:32] albertoarias commented on #11
@ShadySQL Don't forget to specify the subscription, they have not merged my PR yet with the fix to default the first subscription when is not specified ;-)

[2016-03-31 11:40] madhu25 opened #17 "Elastickube UI page blank"
I have setup Elastickube with my kubernetes cluster on bare metal ubuntu machines. Elastickube server is running but my UI page for Elastickube is blank. What could be the reason?

[2016-03-31 22:58] albertoarias commented on #17
@madhu25 I have seen this issue when elastickube is unable to find the kubernetes endpoint. By default we search for a service in the `kube-system` namespace called `kubernetes` and connect to the https port using the token stored on the service account secret.

The easiest way to fix this issue is specifying the internal unsecured endpoint during the deployment using the following command:

curl

[2016-04-02 21:26] ianwalter opened #18 "Unable to install elastickube"
I set up Kubernetes locally on OS X using [kube-solo-osx](https://github.com/TheNewNormal/kube-solo-osx) and it's running at http://192.168.64.2:8080 however the install command fails to verify the Kubernetes cluster:
[code]
I get this when getting services:
[code]
But it shows a different list of services when running the command with `--namespace=kube-system` is this why it's not working?

[2016-04-03 09:08] mdbishop opened #19 "kubernetes endpoint seems to have moved to default in gke's deployment of k8s"
As of v1.2 of K8S on Google's Container Engine, it appears that the kubernetes endpoint that ElasticBox looks for has moved to the default namespace:

[code]

Launching the install by using the endpoint above:
[code]

Gives the desired effect, although it directs you to a cluster local IP for management rather than a public endpoint, which is fine:

[code]

Perhaps a search of both default and kub

[2016-04-03 09:24] mdbishop opened #20 "Add cpu/memory request for mongo component of deployment"
Unlike the other components in the elastickube manifest, mongo seems to not have any resource asks defined for it.  Not sure if this was a design decision, but it would seem prudent to at least ask for some floor for a few reasons:
 * folks may not watch the kube-system namespace as closely, considering it a bit the wizard behind the curtain.
 * Related, as a (quasi?) system service, a resource gu

[2016-04-03 09:36] mdbishop opened #21 "Edit function of namespace screen displays an error"
On a fresh install, admin -> namespaces, clicking edit on a namespace displays:

[code]

No messages show in the javascript console and nothing apparent appeared on a cursory look at the server side logs.

[2016-04-03 09:47] mdbishop opened #22 "Metrics are unavailable"
For both pre-existing pods, etc and the self-installed ElasticKube services, neither metrics nor events seem to be available.

The elastickube-api logs show the following:

[code]

If I can provide any additional info, more than happy to.

_Loving the UI, by the way.  This should be the default on K8S!_

[2016-04-04 15:46] paulino-corujo commented on #21
@mdbishop thank you for reporting this bug, I have sent a PR to fix it that is already merged (https://github.com/ElasticBox/elastickube/pull/23)

[2016-04-04 15:48] arnaud-elasticbox commented on #22
I am looking now to see what is happening. The errors you are seeing are related to events which are not available anymore in Kubernetes for "old" resources. You can verify this by running:
- kubectl describe pods  <POD NAME> --namespace=kube-system
You can check that Kubernetes is not returning any event.

I will keep you posted for the metrics issue.

[2016-04-04 18:08] mdbishop commented on #22
Arnaud, Makes perfect sense (on the events issue).  And come to think of it, about the only time I pay attention to the events is to troubleshoot an initial launch so under the principle of "no news is good news", a lack of recent events is a good thing. :)

Thanks for the quick response -- really loving the UI and find myself using it as my primary dashboard already.  When I grab a few hours, I'l

[2016-04-04 19:40] albertoarias commented on #18
@ianwalter our install script uses kubectl internally but it does not specify the --server parameter. We rely on kubectl to be preconfigured to talk to the target cluster.

Can you try configuring the context of kubectl?
https://coreos.com/kubernetes/docs/1.0.3/configure-kubectl.html

We could add the server option to the install script. I am just not sure if this is a common use case. What do you

[2016-04-04 21:03] arnaud-elasticbox commented on #21
@mdbishop we have released a new version which includes a fix for this. Thanks for reporting it.

[2016-04-04 21:08] arnaud-elasticbox commented on #19
@mdbishop we have fixed the issue into https://github.com/ElasticBox/elastickube/pull/24, so you don't need to pass the address anymore as a parameter when deploying on GKE.

In addition, we have updated the deploy script to grep the Public IP of the Load balancer if available into #25

[2016-04-04 21:09] arnaud-elasticbox commented on #20
@mdbishop it makes total sense. For now, we don't have enough metrics about the usage of Mongo so we decided to not add limit for now but we should for sure.

Do you have any suggestions?

[2016-04-04 21:33] mdbishop commented on #20
@arnaud-elasticbox
I assumed that it was a design decision (even if a temporary one).  I'm not a huge Mongo user so would really be talking out my rear if I made a hard number suggestion.

The database components in K8S as a whole (speaking very broadly nothing specific to this use case) strike me as little un-tuned icebergs we're leaving for our future selves unless we allow for some self tuning

[2016-04-04 21:33] mdbishop commented on #21
@arnaud-elasticbox Wow you guys are fast, thank YOU!  Excited to give today's batch of fixes a go.

[2016-04-04 21:46] mdbishop commented on #19
@arnaud-elasticbox

Looks like #24 is all sorted, thanks!   At least for me, I'm still getting the cluster local IP so unfortunately #25 seems to still need a little tweaking.  If I can help troubleshoot, please just let me know.

[2016-04-04 21:46] #19 closed

[2016-04-04 21:47] mdbishop commented on #21
@paulino-corujo @arnaud-elasticbox  #23 did the trick, thank you sirs!

[2016-04-04 21:47] #21 closed

[2016-04-04 21:53] mdbishop opened #26 "Feature Request: Allow searching by more than name field on Instances screen"
I'd love to be able to filter just failed instances, for instance, to I can delete them and their cruft from the system (or at least from my screen).  The search seems to take only the name into consideration at this point.  I'm sure this will expand to labels as well, but one request at a time. :smile:

[2016-04-04 22:10] arnaud-elasticbox commented on #22
@mdbishop I have made some research and found that GKE is using the v1.0.0 release of Heapster, which seems to have deprecated some of the API endpoints we are using, especially the one referred by this issue: https://github.com/kubernetes/heapster/issues/1107

I have reproduced internally and will work on addressing these API changes.

[2016-04-04 22:13] arnaud-elasticbox commented on #19
@mdbishop yes, it is possible. We are working on a more robust way to detect the IP address. The Public IP is not available immediately, so if the deployment completes before the IP becomes available, it will still show the local IP. Thanks for the feedback.

[2016-04-04 22:21] mdbishop commented on #22
[Kubedash](https://github.com/kubernetes/kubedash) itself seems to deal with this issue by deploying an old version of heapster alongside the new for kubedash's use when running on a > 1.1 cluster.

--- > see deploy/bundle.yaml in the repo (and the repo's readme which also mentions this)

Hope this helps.

[2016-04-04 22:36] mdbishop opened #27 "Feature Request: Use SSL by default"
A self-signed cert in a well known secrets store would be fantastic with an option to go non-SSL only during deployment for those who don't need or want SSL would be a welcome addition.

Another option could be to not use a public IP at all and use the port proxy, leaving the decision to export it to a public IP up to the implementer.

At least on GKE, the idea you may want to ingress into K8S _fr

[2016-04-05 00:00] ianwalter commented on #18
Configuring kubectl worked for me so I guess it's not necessary. Thanks!

[2016-04-05 00:00] #18 closed

[2016-04-07 04:12] surajssd opened #33 "Unable to setup elastickube on CentOS 7"
Tried setting up ElasticKube
[code]

Also tried using `sudo`
[code]

I am running [CentOS 7 ADB Vagrant box](https://atlas.hashicorp.com/projectatomic/boxes/adb/versions/1.7.2) and Kubernetes is setup using [Vagrantfile](https://github.com/projectatomic/adb-atomic-developer-bundle/tree/master/components/centos/centos-k8s-singlenode-setup). What other information do you need about my environment? P

[2016-04-07 21:53] albertoarias commented on #33
@surajssd I just deployed the Vagrantfile. Atomic is a heavy modified kubernetes. For ElasticKube to work we the following things:
- kube-system namespace
- access to the kube-apiserver endpoint (secured or unsecured)
- for metrics we require having heapster running

First create the kube-system namespace:

`kubectl create -f - << NAMESPACE
kind: "Namespace"
apiVersion: "v1"
metadata:
  name: "kub

[2016-04-07 22:19] albertoarias commented on #33
@surajssd disabling SELinux fixes the problem
`setenforce 0`

Then I recreated the elastickube-server replication controller by deleting the it and reinstalling:
`kubectl --namespace=kube-system delete rc elastickube-server`
`curl -s https://elastickube.com | bash`

Finally to test everything was working I created a reverse tunnel:
`ssh vagrant@<ip address of the vm> -L 9000:localhost:8080`
(I got

[2016-04-08 05:50] surajssd commented on #33
@albertoarias Thanks a lot for the steps and help, I appreciate that.

In the above VM I followed these steps
[code]
Open new-terminal and do:
`ssh -L 9898:10.254.177.213:80 vagrant@192.168.121.24`
OR
`ssh -L <some-port>:<IP-address-from-output>:80 vagrant@<IP-address-of-VM>`
password: `vagrant`

Open Browser and goto: `localhost:9898`

Also I would like this to see working with SELINUX enabled, t

[2016-04-08 07:29] surajssd commented on #33
Please tell me how do I deploy an app, which has custom built containers in it. I have Kubernetes artifacts for it. Should i directly use the `kubectl create -f <files>` ?
https://github.com/surajssd/docker-birthday-3/tree/master/k8s-artifacts

[2016-04-08 16:37] albertoarias commented on #33
@surajssd We adopted the helm standard to package apps for kubernetes:
http://helm.readthedocs.org/en/latest/authoring_charts/

You need to create the chart and then point your elastickube to the github repo containing the chart. ElasticKube will pull that repo and automatically sync the database of charts so you an deploy from the UI.

FYI, we are working on putting the documentation out.

[2016-04-08 16:42] surajssd commented on #33
Thats awesome! :) I will look into the making helm charts. Thanks for all the information, that was very nice of you, if you want you can close this issue.

[2016-04-08 16:55] #33 closed

[2016-04-08 18:05] albertoarias commented on #11
@ShadySQL Did you manage to get it up an running?

[2016-04-10 19:28] ShadySQL commented on #11
Hey @albertoarias sorry for the late reply. Yes I got it work finally. Thanks so much for your help and I really appreciate what you guys are doing for the Kubernetes community. I saw your presentation at the google kubernetes community meetup - nice presentation by the way.

[2016-04-10 19:28] #11 closed

[2016-04-12 19:02] miko-code opened #50 "Failed for reason PodExceedsFreeMemory and possibly others"
Hi ,
Im trying to run elestickube but i getting this error on **elastickube-server**  service.

Im using single node core os , and i can run k8 .

Any suggestions how to solve it ?

[2016-04-12 20:21] albertoarias commented on #50
@miko-code I think you forgot to paste the error message

[2016-04-12 20:52] albertoarias commented on #50
@miko-code Somebody just pointed out to me that the error message is on the title. It seems like you don't have enough free memory in your cluster. You can download the script from `curl elastickube.com -o install.sh` and remove the limits from the resource controller. (They are embedded within the script)

Though you should try to run it in a cluster with more free resources. Let me know if that

[2016-04-13 17:37] miko-code commented on #50
@albertoarias  adding more memory to the machine solve the problem.
i change the host port to 8088 because k8 is ruining on port 80.
Now im getting
`Failed to create docker container with error: no such image
`

[2016-04-13 21:34] albertoarias commented on #50
@miko-code What is your default docker registry? Our images are hosted in docker hub. We are considering pushing them to gcr.io too

[2016-04-14 08:15] tujunxiong opened #53 "Failed to create elastickube-diagnostics"
Hello,
My kube cluster was deployed by Azure script with 3 kube nodes, tried to use
`curl -s https://elastickube.com | bash -s -- -u http://kube-00:8080`

to install elastickube and failed, error message is:

Failed to create docker container with error: no such image
spec.containers{elastickube-diagnostics}
Count:1051

Dashboard deployed and hope that can help:
http://13.76.246.110:9090/#/replica

[2016-04-14 09:58] davisein commented on #53
Hi @tujunxiong,
It seems that there is a problem accessing dockerhub from your Kubernetes cluster. I'm not sure if you have it configured or not.
Could you log in into one of the nodes and execute (with enough permissions, sudo if needed):
docker pull elasticbox/elastickube-diagnostics

Does it work?
If it doesn't work please try:
docker pull registry.hub.docker.com/elasticbox/elastickube-diagnost

[2016-04-14 11:45] davisein commented on #53
Hi @tujunxiong,

I have found the issue. We are publishing it but it was a wrong pull image policy in the default definition of the service and we didn't detect it because it was in the local cache.

You can just remove the line 'imagePullPolicy: Never' from the bash script to solve the issue:
[code]

We will publish the solution for everybody soon. Let me know if this works

[2016-04-14 13:18] amarruedo commented on #53
I was experiencing the same issue. I can confirm that running

`curl -s https://elastickube.com | grep -v 'imagePullPolicy: Never' | bash -s -- -u http://kube-00:8080`

solves the problem.

[2016-04-14 13:27] tujunxiong commented on #53
@davisein Yes, now is working with this. Thanks!

[2016-04-14 17:38] davisein commented on #53
Hey @tujunxiong @amarruedo thanks for the feedback!

It's already fixed on the website so you don't need the grep -v anymore. I'm closing this.

Have fun with ElasticKube 😄

[2016-04-14 17:40] davisein commented on #50
@miko-code The issue seems related with #54. Can you try now again? Sorry for the inconvenience

[2016-04-21 18:35] #50 closed

[2016-04-22 12:42] JamieAP opened #61 "ElasticKube looking for hardcoded kube-dns-v9"
As shown here: http://puu.sh/orCqB/dad1e8dd3b.png

ElasticKube is looking for a (I think) hardcoded kube-dns-v9, whereas out of the box deployments are using v11.

[2016-04-22 14:30] davisein commented on #61
We are looking on how to make the search more general, supporting any version and DNS server.

This only affects to the Diagnostics page as the rest of the application doesn't try to detect the status of the DNS.
I'll investigate how to make it more general. @JamieAP Do you have any suggestion?

[2016-04-22 17:51] davisein commented on #61
@JamieAP I have opened a PR #62 for this.

The approach is to check for the kubernetes.default domain which must be provided by the DNS system according to their documentation. [https://github.com/kubernetes/kubernetes/blob/release-1.2/cluster/addons/dns/README.md#3-validate-dns-works]

Let us know if you find any problem with the new approach

[2016-04-22 17:56] #61 closed

[2016-04-22 21:57] JamieAP commented on #61
@davisein Perfect, thank you!

[2016-04-28 16:02] srikanthpeetha opened #64 "Diagnostics fails for DNS, Internet connection and heapster"
Hi
I had a working kubernetes cluster version 1.2.0
When I first launched elastickube I could see signup page but later it redirected to diagnostics page showing these three things failed

`Internet Connection`
`Requesting "http://google.com" failed: "HTTP 599: Timeout". Report this`

`
Heapster Connection`
`[Errno 113] No route to host. Report this`

`Kubernetes DNS`
`Couldn't find default DNS ku

[2016-04-28 16:41] davisein commented on #64
Hi @srikanthpeetha,

What happens if you go again to the main page? (Without the /diagnostics URL).

I'm taking a look at the rest of the information, but I need to know if everything works after you do it or what happens exactly.

[2016-04-28 17:43] davisein commented on #64
The messages in the Diagnostics page are consistent with your explanations.

The internet connection error with 599 seems proxy related. In the charts logs you can see an error saying unable to access github.com/help.charts.git. You won't have your charts synchronised until there is internet access to that URL.

The error in charts.txt says specifically 'Could not resolve host: github.com'. It see

[2016-04-29 15:20] srikanthpeetha commented on #64
Thanks for your attention @davisein
Sorry for the late reply

If I go to the main page it is redirecting to same diagnostics URL.

Is there anyway to add proxy to the Elastickube server?

I forget to add diagnotics container logs. Here are the logs

2016-04-29T07:27:30.243666322Z Traceback (most recent call last):
2016-04-29T07:27:30.243683492Z   File "/usr/local/lib/python2.7/site-packages/tornad

[2016-04-29 17:40] #53 closed

[2016-04-30 11:52] ant31 opened #67 "Add kpm as package manager?"
I'm working on a package manager for kubernetes: https://github.com/kubespray/kpm
I think it can be an an interesting plugin to propose in elastickube alongside with helm.

Everything is done through api / server-side so integration is simple.
We are currently working to integrate kpm to kubernetes/dashboard too. To build a poc, it took us a single day to fork dashboard and add kpm to it: [demo](h

[2016-05-03 09:48] davisein commented on #64
Hi @srikanthpeetha,

The diagnostics logs are reflecting the DNS errors cause by your firewall/proxy.

We have fixed #65 which appeared in your logs.
Can you try again to see if this solves your issue? Please, destroy the pod so that you get the latest version of ElasticKube.

[2016-05-05 14:16] srikanthpeetha commented on #64
Hi @davisein

Yes that fixed DNS error.

I tried to add proxy variables in charts container but it doesn't worked. Looks like when I exit from container they are not updating.

How can I add proxy to the container?

[2016-05-05 14:43] davisein commented on #64
What do you mean by adding proxy variables to the charts container? Going into a shell inside and adding the values there? Creating another image?

What configuration have you changed? Where?

For the charts, we use a git installation under the hood so we will need to add support for proxies of git. I haven't tested it but executing something like this on the pod:
[code]
Might work fixing the pod

[2016-05-06 11:53] srikanthpeetha commented on #64
Yes it worked for charts. Now i could see no errors from logs.

But I still struck at diagnostics page showing internet connection error.

when I curl http://google.com
`curl: (6) Could not resolve host: google.com`

[2016-05-06 13:33] davisein commented on #64
I'm trying to reproduce but it allows me to go into ElasticKube. The Diagnostics notice that it doesn't have full internet access but it allows you to go into the UI anyway.

Can you try a few things?

1. Is there any request that is failing? (Use the Dev tools of your browser)
2. Can you attach the logs of the elastickube-api?
3. Can you try to access with another browser or at least cleaning the

[2016-05-09 13:10] srikanthpeetha commented on #64
I relaunched the pod but It still redirecting to diagnostics page after sign up. If I delete cache or try from different browser, I can see sign in page but when  I try to sign in, it shows me small pop like `t is undefined dismiss` and redirects to diagnostics page.

This is what I see in Dev tools of chrome
`WebSocket connection to 'ws://10.X.X.X:32527/api/v1/ws' failed: Error in connection esta

[2016-05-09 14:41] davisein commented on #64
How are you connecting to ElasticKube? Are you using some proxy?

This log says that ws://..... is failing to connect. I guess the address you are using in your browser to connect to ElasticKube is http://10.X.X.X:32527. In the api.log, I'm missing the entries of opening the WebSockets connection. The error and that fact make me think that maybe you have some proxy or similar that does not support

[2016-05-10 12:53] srikanthpeetha commented on #64
Yes I am working behind corporate proxy.
I am using this command to connect to pod
`kubectl exec -ti  elastickube-server-q7sp3 --namespace=kube-system bash`

This ip http://10.X.X.X:32527 is not a cluster ip or pod ip. I am accessing elastickube with master ip and nodeport of the service.

I think nginx conatiner logs may be useful  [nginx.txt](https://github.com/ElasticBox/elastickube/files/25720

[2016-05-10 15:24] srikanthpeetha commented on #64
I am closing this issue because I am working behind a proxy which does not support the ws protocol.
Sorry for the false alarm.

thanks for the response :)

[2016-05-10 15:24] #64 closed

[2016-05-10 15:49] davisein commented on #64
@srikanthpeetha No worries. Thank you for letting us know the reason behind it. We will keep in mind for other issues.

[2016-05-11 16:59] #2 closed

[2016-05-13 11:45] srikanthpeetha commented on #64
If I disable proxy in my browser it is working very well. UI is awsome :)

[2016-05-13 13:04] davisein commented on #64
Thanks! I'm glad you like it. 😄

We are reviewing the idea of adding support for https and wss so that more proxies will work out of the box.

[2016-05-18 11:54] madhu25 opened #78 "Internet Connection Requesting "http://google.com" failed: "[Errno -2] Name or service not known"."
Got the following error on diagnostics page:

Internet Connection
Requesting "http://google.com" failed: "[Errno -2] Name or service not known".

[2016-05-18 12:43] davisein commented on #78
Hi @madhu25,

It seems that you don't have access to the internet or a working DNS from your ElasticKube.
The Name or service not known points to a DNS configuration issue.

Could you ensure that you have access to the internet and a working DNS accessible from the pod?

For some of the features of ElasticKube (most notably, syncing with Charts from public repositories like the default one) you ne

[2016-05-18 13:11] #17 closed

[2016-05-18 13:11] madhu25 commented on #17
Thanks..it helped!

[2016-05-18 17:19] manolakis commented on #26
Hello @mdbishop. Yesterday we merged the capability to filter by the pod status, so now you should be able to delete all your failed instances easily :)

![filters](https://cloud.githubusercontent.com/assets/329771/15368169/b362f2ca-1d2c-11e6-9122-a07b02d0d582.png)

As the feature request is implemented I'm going to close this.

Best

[2016-05-18 17:20] #26 closed

[2016-05-19 17:16] AndriyShepitsen opened #79 "How to create chart from github repository"

[2016-06-01 14:42] spiddy opened #86 "Add possibility to add private Git Chart Repository"
It would be nice to get the possibility to use a private git repository for Git Chart Repository field.

This probably means an ssh key field would be necessary to be added as a field on settings for accessing the chart.

On the git repository a deploy key could then be configured ([github](https://github.com/blog/2024-read-only-deploy-keys), [bitbucket](https://confluence.atlassian.com/bitbucket/

[2016-06-01 15:46] spiddy commented on #86
Following a bit the [GitPython](https://github.com/gitpython-developers/GitPython) project, I managed to clone properly a private repo chart by doing the following:

* Enter inside the `elastickube-charts` container of the `elastic-server` pod
* Add the git private key content to the `~/.ssh/id_rsa` file
* Configure properly the file permissions
* Do a git clone of the project manually (not sure i

[2016-06-03 09:46] Tedezed opened #87 "Error Kubernetes Connection - Requesting "https://10.254.0.1:443" failed: "HTTP 401: Unauthorized""
## My instalation of ElasticKube

I'm trying to add elastickube to my [cluster Kubernetes in HA](http://tedezed.github.io/Celtic-Kubernetes/HTML/3-Kube_HA_pcs.html). Structure of the nodes [image](http://tedezed.github.io/Celtic-Kubernetes/HTML/Imagenes/topo2.jpg).

`curl -s https://elastickube.com | bash -s -- -u http://10.0.0.39:8080`
(**10.0.0.39:8080** is a virtual IP for Kubernetes Masters in

[2016-06-03 10:05] davisein commented on #87
Hi,

Can you add the logs of elastickube-server (the diagnostics and the api containers)?
Can you give us also the environment variables available in the elastickube-server?

It seems that there is not access from the elastickube-server pod to the kubernetes cluster. Usually, there is a secret kube-api that gives read/write access to the kube-apiserver. It is needed to access the kubernetes api to

[2016-06-03 12:12] Tedezed commented on #87
Thx for your answer, the information:

### Logs

`kubectl logs elastickube-server-0pz5j elastickube-diagnostics --namespace=kube-system`
[code]
`kubectl logs elastickube-server-0pz5j elastickube-api --namespace=kube-system`
[code]

### Environment variables

`printenv`
[code]
### Test
`root@elastickube-server-0pz5j:/var/log# curl -s 10.0.0.39:8080`
[code]

`kubectl exec busybox -- nslookup kuberne

[2016-06-03 12:34] Tedezed commented on #87
Also try to:
[code]

[2016-06-03 15:01] masondesu opened #88 "Explanation of Charts"
Hey there. Thanks for building this, it's great to have some additional visualizations for our cluster. I can't seem to find anywhere in the repo or the marketing site about what charts actually are and/or how they're supposed to work or be used.

Can you point to some resources on how these are intended to be used?

[2016-06-06 09:27] davisein commented on #87
Hey @Tedezed:

Can you send us more logs of "diagnostics"? The relevant lines are likely before the ones you sent.

Checking the information you have sent this is what I can guess:

* The endpoint is correct. The Heapster check is Ok and that one depends on the `KUBERNETES_SERVICE_HOST`
* There seems to be a problem with authentication on the kubernetes API. The error we are getting is `401 Unauth

[2016-06-07 06:34] Tedezed commented on #87
Thx, @davisein
I think I found the problem, I have not the Kubernetes API in HTTPS only in HTTP.
But the strange thing is that I get to work before without that.

[2016-06-07 08:39] davisein commented on #87
It's strange indeed. I expected in that case to have a 404 error instead of 401. Maybe something else is listening on the https port.
Thanks for letting us know the result.

[2016-06-07 09:36] #87 closed

[2016-06-07 10:29] davisein commented on #88
Hi @masondesu,

The charts refer to Helm charts (see https://helm.sh/). Here is the repository with charts that we use as an example: https://github.com/helm/charts. It's a great starting point with a nice catalog of Charts.

There are lots of changes in the community, making helm part of the Kubernetes community here: https://github.com/kubernetes/helm.

Let us know if you have more doubts.

[2016-06-09 06:20] madhu25 commented on #78
Yes thanks .

[2016-06-09 06:20] #78 closed

[2016-06-09 10:53] madhu25 opened #89 "Doesn't show newly created namespaces."
When I create a new namespace, it doesn't show newly created namespaces. It only shows already deployed namespaces. Why?

[2016-06-09 11:05] osanjuan commented on #67
Hi @ant31, we are still exploring how elastickube will be shaped in the future, it's a great suggestion and we are open to contributions.

[2016-06-09 11:05] #67 closed

[2016-06-09 11:05] #88 closed

[2016-06-09 14:34] paulino-corujo commented on #89
@madhu25 can you post this info?:
- Browser and version the issue is happening on
- Is it happening when you create a namespace using ElasticKube or when you manually create a new namespace in Kubernetes.
- Is there any error in the javascript log console?
- If you reload the ElasticKube application does it comes up?

[2016-06-10 08:03] spiddy opened #90 "Add support for Deployment DaemonSet ReplicaSet objects"
Currently the ReplicationController is supported but new objects such as Deployment DaemonSet ReplicaSet are not supported yet.

Also, not all api extensions are activated, just the first one on the list.

[2016-06-10 09:08] spiddy opened #92 "Add support for Kubernetes new Chart format"
Helm is now part of Kubernetes and so are Charts.

There is a refactor of how the Charts are now distributed, the new specs are [here](https://github.com/kubernetes/helm/blob/master/docs/charts.md).

The main difference with the previous format is that manifests are now templates (in go format) with default configuration values taken from the `values.yaml` file.

Integrating this with elastickube

[2016-06-10 09:58] spiddy opened #93 "Add support for Kubernetes new Chart format"
Helm is now part of Kubernetes and so are Charts.

There is a refactor of how the Charts are now distributed, the new specs are [here](https://github.com/kubernetes/helm/blob/master/docs/charts.md).

The main difference with the previous format is that manifests are now templates (in go format) with default configuration values taken from the `values.yaml` file.

Integrating this with elastickube

[2016-06-10 09:59] spiddy commented on #93
Sorry duplicate of #92

[2016-06-13 15:50] madhu25 commented on #89
- Chrome
- It is happening both ways when I create namespace using ElasticKube and manually
- No error
- No it doesn't

[2016-06-14 17:54] rothgar opened #96 "Stuck in retry() loop for elastickube-server"
I haven't quite tracked down the logic yet but my deployment on kubernetes 1.2.4 is stuck "Setting up elastickube-server"

From what I can tell with a quick read through on the [deploy script](https://github.com/ElasticBox/elastickube/blob/master/build/deploy.sh) I'm stuck in retry() and it doesn't appear the counter is incrementing (it's been stuck spinning for ~10 minutes).

If I open a new shel

[2016-06-14 18:07] rothgar opened #97 "If LoadBalancer is not found then deploy.sh should recreate service with type: NodePort"
When creating elastickube in an environment that doesn't support LoadBalancer you need to edit or delete/recreate the ELASTICKUBE_SERVER_SVC to remove [type: LoadBalancer](https://github.com/ElasticBox/elastickube/blob/master/build/deploy.sh#L200) and instead expose the service as type: NodePort

After the service is deployed an admin needs to find the definition and manually run `kubectl edit --n

[2016-06-14 18:10] colemickens opened #98 "Make the bringup script easier to inspect casually"
I really don't feel comfortable piping something into bash, especially when it's going to start using `kubectl` to do stuff to my cluster and the README isn't precise enough about what is going to happen when I run that command. Worse, it seems like you're doing some sort of UA sniffing or something and over loading the https://elastickube.com URL for serving the script. Which means that there are

[2016-06-14 18:21] colemickens opened #99 "ElasticKube seemed to have deployed but the script didn't complete"
I'm poking around in ElastiKube that I  deployed to my cluster. Seems to be working. But the terminal where I (downloaded, inspected and then) ran the bootup script from is still in progress:

[code]

[2016-06-14 18:37] colemickens commented on #99
The `elastickube.log` file: https://gist.github.com/anonymous/5850d6c39b12912b0d6b8f276b99ee7c

[2016-06-14 18:39] colemickens opened #100 "Show external IP for Type=LoadBalancer Services"
It'd be nice if the Service page would show any external IP for a service created by a cloudprovider.

[2016-06-14 20:14] arnaud-elasticbox commented on #100
@colemickens thanks for the feedback, it makes sense to show the external IP for sure. We will prioritize this into the roadmap.

[2016-06-14 20:16] arnaud-elasticbox commented on #98
@colemickens it you run curl https://elastickube.com it should output the script but I agree, we could have an obvious link to read the script into a browser instead of curl

[2016-06-14 20:22] arnaud-elasticbox commented on #99
@colemickens based on the logs, it seems that the script is not detecting when the RC is ready. Can you run the command `kubectl --namespace=kube-system describe rc elastickube-server` and paste the output here?

Thanks for trying elastickube

[2016-06-14 20:23] colemickens commented on #99
That's the requested output: https://gist.github.com/bd1b75ccb7c8d46f33563d134837c0a3

[2016-06-14 20:25] arnaud-elasticbox commented on #89
@madhu25 thanks for reporting the issue. I was able to reproduce the issue and I have submitted a fix:
https://github.com/ElasticBox/elastickube/pull/95

[2016-06-14 20:30] arnaud-elasticbox commented on #96
@rothgar thanks for trying elastickube.

I have seen a similar issue where the script does not detect when the RC is ready on the initial bootstrapping.

Could run the command `kubectl --namespace=kube-system describe rc elastickube-server` and paste the output here?

In the meantime, I am going to try to reproduce locally.

[2016-06-14 20:36] arnaud-elasticbox commented on #99
Thank you, I will try to reproduce locally and keep you posted.

[2016-06-14 22:01] rothgar commented on #96
I'm not 100% positive this is unchanged from a default install (I probably changed some things when I was testing) but here's the output.

[code]

[2016-06-15 02:58] albertoarias commented on #98
@colemickens The script is also part of the repo. We tried to make it easy to read.

https://github.com/ElasticBox/elastickube/blob/master/build/deploy.sh

[2016-06-15 03:02] colemickens commented on #98
Cool. Maybe just a link to it on the README? (For example does elastickube.com + curl redirect to github [master branch?], or is there another copy of the script somewhere?)

[2016-06-15 03:45] albertoarias commented on #98
Make sense, I sent a PR to update the README. The file comes from the repo, we cache it on the website.

[2016-06-15 09:38] madhu25 commented on #89
Thanks :)

[2016-06-15 15:20] #93 closed

[2016-06-16 21:04] arnaud-elasticbox commented on #100
@osanjuan @paulino-corujo can you guys take care of this?

[2016-06-16 21:08] #98 closed

[2016-06-16 21:12] albertoarias commented on #97
@rothgar Makes sense, I can see the problem. Do you get any errors when trying to deploy?

I am trying to figure out how to detect this condition.

[2016-06-16 21:22] albertoarias commented on #96
@rothgar The default timeout is 10 minutes. What we think it might have happened is that you aborted it right before the timeout was reached. The script is idempotent, so the second time you ran it found the RC already running.

We tried setting the timeout to something very small, and we still could not repro. Please let us know if you find anything.

[2016-06-16 21:33] albertoarias commented on #86
@EfrenRey @osanjuan can you guys take care of this?

[2016-06-16 21:38] albertoarias commented on #79
@AndriyShepitsen Sorry you did not get it up running. Let me know if you want to try again, I can help  you find out what went wrong.

The issue was probably the smtp was not configure properly or some of the ports where blocked. Regarding the chars, was it is public or private repo?

We are adding support for private repos:
https://github.com/ElasticBox/elastickube/issues/86

[2016-06-16 21:38] #6 closed

[2016-06-16 21:38] #9 closed

[2016-06-16 22:55] rothgar commented on #97
No errors, I just had to manually create the service and make it's type NodePort.

You should be able to detect if [LOADBALANCER_IP_PROPERTY](https://github.com/ElasticBox/elastickube/blob/master/build/deploy.sh#L312) is IP: then recreate the service as [type: NodePort](https://github.com/ElasticBox/elastickube/blob/master/build/deploy.sh#L200)

[2016-06-17 16:35] #90 closed

[2016-06-17 16:39] arnaud-elasticbox commented on #89
Pull request merged, closing it.

[2016-06-17 16:39] #89 closed

[2016-06-17 16:44] arnaud-elasticbox commented on #22
This is has been fixed and tested against the latest release of Kubernetes and heapster version from https://github.com/kubernetes/kubernetes/tree/v1.2.4/cluster/addons/cluster-monitoring.

[2016-06-17 16:44] #22 closed

[2016-08-09 09:49] reinow opened #119 "Signing up for an admin account fails"
I am settings up a minor cluster to learn about Kubernetes and Elastickube. The master as well as the minions are virtual machines with CentOS 7 running under libvirt. The host is a CentOS 7 box. The installation of Elastickube was successful, and the diagnostic page is properly loaded via an nginx reverse proxy running in another VM. Everything seems to be OK on the diagnostic page. However, when

[2016-08-09 10:06] davisein commented on #119
@reinow
Most of the communications from the UI to the elastickube service is done via secure websockets.

Is this nginx configuration proxying correctly that communication? You can check from your browser developer tools if the wss connection starts correctly.

If the connection to the websockets is working, the next thing for debugging are the logs on the kubernetes side.
The logs from all the co

[2016-10-13 23:06] edouardKaiser opened #121 "502 on https://elastickube.com/"
It looks like https://elastickube.com/ is down, I get an HTTP 502.
Is this project still maintained ?

[2016-10-14 00:30] albertoarias commented on #121
Yes it is. We will release a roadmap soon.

Where are you connecting from? It seems to be working from my location.

[2016-10-14 00:31] edouardKaiser commented on #121
I'm in Sydney, Australia. Looks like it's working now, wrong alert, thanks for the response :)

[2016-10-14 00:31] #121 closed

[2016-10-14 00:43] albertoarias commented on #121
It seems we had a glitch at some point. Let me know how it goes.

[2016-10-28 13:28] marians opened #122 "KeyError: 'resourceVersion' not defined in data["object"]["metadata"] (api/v1/sync/namespaces.py)"
I just deployed elastickube and get the following error repeatedly in the log of pod `elastickube-server-XXXX`:

[code]

As is also visible from the snipped, the log format wouldn't need date and time, since the Docker deamon adds these automatically in front of every line.

[2016-12-04 21:00] bergtwvd opened #123 "Problem starting ElasticKube Server"
I am running an "unsecure" Kubernetes install (one master, three nodes), i.e. not certificates.

I do ``curl -s https://elastickube.com | bash -s -- -u http://10.10.10.150:8080`` from an Ubuntu machine on which I only have kubectl installed. *.150 is the address of the master.

Script runs with following output:

[code]
However , the ElasticKube Server won't start.
When I check the Kube dashboard

[2016-12-05 11:18] jhita commented on #123
Hello,

It seems that the secret token is not available for ElasticKube:
http://kubernetes.io/docs/user-guide/accessing-the-cluster/#accessing-the-api-from-a-pod

Can you please check if the secret token is available using these commands?
[code]

Regards.

[2016-12-05 16:25] bergtwvd commented on #123
The token is not present, neither did I ever made one.

To get Elastic going, what are the instructions I should pass into Kubernetes?

[2016-12-05 17:34] jhita commented on #123
The default serviceAccounts for the default namespace does not allow to run ElasticKube there.

In which namespace are your ElasticKube pods, rcs and services? By default they are created in the kube-system namespace which has a serviceAccount that has enough privileges. Do you have the `kube-system` namespace?

If you don't have it or the pods are not there.

Please, run the following commands:
[

[2016-12-05 18:51] bergtwvd commented on #123
I just  re-ran the command directly on my master kube:

``curl -s https://elastickube.com | bash -s -- -u http://10.10.10.150:8080``

I have not done any adaptations to the deploy script.

It ends with the message:
``
ElasticKube has been deployed!
Please complete the installation here: http://10.254.186.132
``

Out from the various commands:
``
[bergtwvd@master elastickube]$ kubectl get serviceac

[2016-12-19 10:03] bergtwvd commented on #86
Would indeed be great if I can use a private chart repository, preferably one that can run on my own cluster. Any news to report on this issue?

[2016-12-23 13:30] wahmedswl opened #124 "Windows"
Hi,
   Is windows supported? as minikube support windows and elastickube depends upon kubernetes and kubectl work fine also.

Thanks

[2017-01-28 00:26] bergtwvd opened #126 "Login issue"
Upon creating initial account I get

[code]

Other items have a check.

* Running Kubernetes 1.5.0
* Nginx proxy with https setup, port 443, runs on Kubernetes master
* ElasticKube sits behind the nginx proxy
* There is a second corporate proxy between the Kubernetes hosts and the world

Why is access to google.com needed?

Also, can ElasticKube work in this setup?

Maybe related to https://github

[2017-01-28 00:51] bergtwvd opened #127 "Probem accessing https://github.com/helm/charts.git"
No charts are displayed.

Part of the log of elasticbox/elastickube-charts:latest is shown below.

One thing I can think of is that the Kubernetes host runs behind a corporate proxy, The Docker daemon is configured for that, but what about elastickube?

[code]

[2017-01-28 10:24] bergtwvd commented on #127
Does the HTTP PROXY needs to be set for Git?

There is one discussion thread about that here:
http://stackoverflow.com/questions/128035/how-do-i-pull-from-a-git-repository-through-an-http-proxy

[2017-01-28 10:32] bergtwvd commented on #123
In the meantime I have moved to kubeadm to install Kubernetes. This sets up the certificates and service account. This works now on my local pc environment without a corporate proxy in the way (#127). I close this issue.

[2017-01-28 10:32] #123 closed

[2017-01-28 21:44] bergtwvd commented on #127
Ok, confirmed, it is the corporate proxy that sits in the way.

I resolved it by adding environment settings to each of the container images in the script ``elastickube.sh``.

For example:
[code]

Where the ``https://xxxx.xxxx.xxxx:8080`` is the proxy address in my situation.

Now the Git repository is successfully cloned.

Before I added these env settings I set up a local Git repository server (

[2017-01-28 21:44] #127 closed

[2017-01-28 21:45] bergtwvd commented on #126
Resolved by #127

[2017-01-28 21:45] #126 closed

[2017-01-28 21:48] bergtwvd opened #128 "ElasticKube does not pick up new repository setting when GitHub is not accessible"
ElasticKube does not pick up new repository setting when GitHub is not accessible (the default repository). It remains in an infinite loop to attempt to clone.
It should regularly check for a new repository setting by the user.

See https://github.com/ElasticBox/elastickube/issues/127 for more information.

[2017-01-28 21:50] bergtwvd opened #129 "ElasticKube does not handle a corporate proxy"
HTTP PROXY settings should be added to ``elastickube.sh``.
See https://github.com/ElasticBox/elastickube/issues/127 for more information.

[2017-01-29 22:53] bergtwvd opened #130 "Cannot login as regular user"
I set up ElasticKube with a mail server.

When I add a new user the mail is sent out and received by the user.
The user clicks the provided link in the email an a validation page is provided.
So far so good.

After entering the requested data, the user cannot login.  -- Not good.

After entering the direct link to elastickube the user is prompter for the username/password.
After entering the data

[2017-01-29 23:03] bergtwvd commented on #126
Forgot to add that I set the env CHECK_CONNECTIVITY_URL for the elastickube-diagnostics container to localhost (probably due to proxy):

[code]

[2017-01-29 23:09] bergtwvd opened #131 "Cannot delete user"
As admin, I cannot delete a user from the Admin > Users page.

[2017-01-29 23:12] bergtwvd commented on #86
After resolving some proxy issues I can change Git Chart repo via Admin > Settings. See https://github.com/ElasticBox/elastickube/issues/127.

[2017-01-29 23:13] bergtwvd commented on #128
It should be possible to define the default Git Chart repo via an environment variable.

[2017-01-29 23:33] bergtwvd opened #132 "Mail Server TLS/SSL switch"
Under Admin > Settings, I need to turn on and off the TLS/SSL switch to force no TLS/SSL.

[2017-01-30 00:05] bergtwvd opened #133 "The forgot password email does not include a link"
When I press the Forgot link, I send an email to the user. The user gets the email, but there is no link to press in it. So, the user password cannot be reset.

[2017-01-30 06:47] bergtwvd commented on #133
Turned out to be a webclient issues (did not show button).

[2017-01-30 06:47] #133 closed

[2017-03-13 12:36] jhelblingHH opened #134 "Heapster Connection"
Heapster Connection
HTTP 503: Service Unavailable

[2017-03-13 16:10] gsanchezu commented on #134
Hi Johann, could you please provide some additional background for your issue?
For example, is it a new environment, or an issue that just appeared in an existing installation? What were you trying to accomplish?
Could you also please provide any significant related logs to troubleshoot?
Thanks!

[2017-03-13 16:38] jhelblingHH commented on #134
Hi thanks. Was fixed. Heapster was not really up and running. New deploy was helpfully

[2017-03-13 16:38] #134 closed

[2017-04-28 09:11] napat1412 commented on #130
I have same problem too.  when i login with user-role: user, i got logs

2017-04-28 03:24:24,314 Initializing MainWebSocketHandler
2017-04-28 03:24:24,323 Initializing LogsActions
2017-04-28 03:24:24,323 Initializing InstancesActions
2017-04-28 03:24:24,323 Initializing NamespacesActions
2017-04-28 03:24:24,323 Initializing SettingsActions
2017-04-28 03:24:24,323 Initializing UsersActions
2017-04-

[2017-05-02 02:53] gyliu513 opened #136 "Does elastickube support https access for elastic search API"
Just a question here: Does elastickube support `https` access for elastic search API? If not, do you have any plan for this?

[2017-05-02 03:32] ridnarong commented on #130
please check this PR #137

[2017-07-06 06:26] rpinaa opened #139 "ElasticKube doesn't enter the login flow in Google Cloud Platform"
Hello, when I finish the ElasticKube installation using kubectl proxy and Google Container Engine cluster with all the API accessing; I have the following result:

![2017-07-06 01_23_36-correo](https://user-images.githubusercontent.com/7043453/27898084-cc88e45a-61e9-11e7-95d0-6e0c899eac1c.png)

Then, when I try to reach the ElasticKube login, the diagnostics page always appears, and I can't contin

[2017-07-06 06:28] rpinaa commented on #139
This is my diagnostic page:

![2017-07-06 01_27_46-elastickube diagnostics](https://user-images.githubusercontent.com/7043453/27898198-60a92ea6-61ea-11e7-9319-4c58476536b4.png)

[2017-07-06 15:27] rpinaa commented on #139
Hello, I have solved my problem. I had to set more resources within my Kubernetes cluster, because I have used the default configuration.

Regards!